<div class="whole">
    <div class="middle">
      <div class="home">
        <div class="login">
          <h1 style="margin-top: 20px;">Login</h1>
          <div class="pass">
            <input type="email" placeholder="Enter UserName@gmail.com" [(ngModel)]="email" />
          <input type="password" placeholder="Enter Password" [(ngModel)]="password" />
          <button class="btn btn-outline-success" style="margin: 40px; width: 140px;" (click)="login()"  >Log in</button>
          <button class="btn btn-outline-success" style="margin-bottom: 40px; width: 140px;" (click)="register()">Sign in</button>
          </div>
          
        </div>
    </div>
    </div>
    </div>